/*
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {



}

/*
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {

  .wrapper{
    width: 500px;
    height: 400px;
  }
  #four svg{
    width: 33i0px;
      top: 160px;
  }

}

/*
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {

  .wrapper{
    width: 400px;
    height: 300px;
  }
  #four svg{
    width: 300px;
      top: 160px;
  }

}

/*
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {

  .wrapper{
    width: 400px;
    height: 300px;
  }
  #four svg{
    width: 300px;
      top: 160px;
  }
}

/*
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {

  .wrapper{
    width: 300px;
    height: 200px;
  }
  .revo{
    padding: 10px 0;
    bottom: 25px;
  }
  #four svg{
    width: 200px;
    top: 140px;
  }
}

/*
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
  h1 a{
    top: 50px;
    right: 30px;
  }
  #two img {
    right: 30px;
    top: 20px;
  }
  .link{
    left: 30px;
    top: 10px;
  }
  .wrapper{
    width: 300px;
    height: 200px;
  }
  .revo{
    padding: 7px 12px;
    bottom: 10px;
    margin-right: -10px;
  }
  #seven p{
    display: block;
    bottom: -10px;
    left: 30px;
  }
  #seven img{
    bottom: 35px;
    left: 30px;
  }
  .wrapper{
    top:-50px;
  }
  #four svg{
    width: 150px;
    top: 120px;
  }
}
