/*
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {

  #four svg{
    width: 400px;
      top: 160px;
  }



}

/*
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {


  #four svg{
    width: 300px;
      top: 160px;
  }

}

/*
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {


  #four svg{
    width: 300px;
      top: 160px;
  }

}

/*
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  .item {
    font-size: 1em;
    margin: 6% auto;
  }

  #four svg{
    width: 200px;
      top: 160px;
  }
}

/*
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
  .head{
    font-size: 2.6em;
  }
  .item {
    font-size: 1em;
    margin: 6% auto;
  }
  .fullpage4{
    display: grid;
    grid-template-columns: 1fr ;
  }

  .revo{
    padding: 10px 0;
    bottom: 25px;
  }
  #four svg{
    width: 150px;
    top: 140px;
  }
}

/*
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
  .textrev{

    padding-left: 20px;
    padding-right: 20px;
    padding-top: 0px;
    font-size: 0.8em;
    text-align: center;
  }

  .responsive1 {
      max-width: 100%;
      height: 70vh;
  }
  .wrapper img{
    margin-top: 20%;

  }
  .wrapper{
    width: 1fr;
    height: 1fr;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -100;
    margin: auto;

  }
  .item {
    font-size: 0.8em;
    margin: 6% auto;
  }
  .fullpage4{
    display: grid;
    grid-template-columns: 1fr ;
  }
  h1 a{
    top: 50px;
    right: 30px;
  }
  #two img {
    right: 30px;
    top: 20px;
  }
  .link{
    left: 30px;
    top: 10px;
  }

  .revo{
    padding: 7px 12px;
    bottom: 10px;
    margin-right: -10px;
  }
  #seven p{
    display: block;
    bottom: -10px;
    left: 30px;
  }
  #seven img{
    bottom: 35px;
    left: 30px;
  }
  #four svg{
    width: 100px;
    top: 120px;
  }
  .head{
    font-size: 2.6em;
    padding-bottom: 50px
  }
}
