html {
}
body{
  margin: 0;
  background-color: #fff;
  font-family: "Oswald";
  font-weight: bold;
  height: 3000px;
  overflow: hidden;
}
#content{

  background-size: cover;
  height: 100vh;
}


.fullpage1{
  display: grid;
  grid-template-columns: 10fr 4fr;

}
.fullpage2{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

}
.fullpage3{
  display: grid;
  grid-template-columns: 4fr 4fr 3fr;

}
#text{
  opacity: 0;
  text-align: right;
  padding-right: 10px;
}
#one{
  opacity: 0;
  height: 15vh;
}
#two{
  opacity: 0;
  height: 15vh;
}
#two img {
  position: absolute;
  width: 30px;
  height: 30px;
  right: 40px;
  top: 30px;
}
#two img:hover {
  transform: rotate(180deg);
  transition-duration: 0.5s;
}


#three{
  height: 15vh;
}
#four{
  height: 70vh;
  opacity: 0;
}
#five{
  height: 70vh;
  opacity: 0;
}
#six{
  height: 70vh;
}
#six2 img{
  height: 30px;
  width: 30px;
  margin-bottom: 20px;
  display: block;
}
.imgblock{
  position: absolute;
  top: 45vh;
  right: 40px;
}

#seven{
  opacity: 0;
  height: 15vh;

}
#seven a {
  color: black;
}
#seven p{
  position: absolute;
  bottom: 5px;
  left: 40px;
}
#seven img{
  position: absolute;
  width: 20px;
  height: 20px;
  bottom: 50px;
  left: 40px;
}
.imgblock img:hover{
  transform: rotate(360deg);
  transition-duration: 0.6s;
}


#eight{
  height: 15vh;
}
#nine{
  opacity: 0;
  height: 15vh;
}

.parent {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow: auto;
}

.wrapper{
  width: 1fr;
  height: 100vh;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -100;
  margin: auto;

}
path{
  stroke: #000;
  fill: #000;
  stroke-dasharray: 4350;
  opacity: 10;
  animation: animate 6s;
}

@keyframes animate {

  0%{
    opacity: 0;
    fill: none;
    stroke-dashoffset: 4350;
  }

30%{
    opacity: 10;
    fill: none;
    stroke-dashoffset: 4350;
  }

  80%{
    fill: rgba(0, 0, 0, 0);
  }

  100%{
    opacity: 10;
    fill: rgba(0, 0, 0, 1);
    stroke-dashoffset: 0;
  }
}


h1 a {
  color: #000;
  font-size: 0.6em;
  text-decoration: none;
  display: inline-block;
  position: absolute;
  font-family: 'Oswald', sans-serif;
  top: 60px;
  right: 40px;
}
a.effect-underline:after {
	content: '';
  position: absolute;
  left: 0;
  display: inline-block;
  height: 0.7em;
  width: 100%;
  border-bottom: 2px solid;
  margin-top: 20px;
  opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: scale(0,1);
	transform: scale(0,1);
}

a.effect-underline:hover:after {
  opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1);
}


.link {
  font-family: "Sacramento";
	outline: none;
	text-decoration: none;
	position: relative;
	font-size: 2em;
  overflow: hidden;
	line-height: 2;
	color: #000;
	display: inline-block;
  left: 40px;
  top: 20px;
}

.link--paracvet {
	font-weight: 900;
	line-height: 2;
	color: #000;
}

.link--paracvet:hover {
	color: #b2b0a9;
}

.link--paracvet::after {
	content: '';
	position: absolute;
	height: 7px;
	width: 100%;
	top: 50%;
	margin-top: -8px;
	right: 0;
	background: #F9F9F9;
	transform: translate3d(-100%,0,0);
	transition: transform 0.4s;
	transition-timing-function: cubic-bezier(0.7,0,0.3,1);
}

.link--paracvet:hover::after {
	transform: translate3d(100%,0,0);
}

.link--paracvet::before {
	content: attr(data-letters);
	position: absolute;
	z-index: 2;
	overflow: hidden;
	color: #000;
	white-space: nowrap;
	width: 0%;
	transition: width 0.4s 0.3s;
}

.link--paracvet:hover::before {
	width: 100%;
}

.revo{
  position: absolute;
  bottom: 10px;
  display: block;
  border-bottom: 2px solid black;
  border-top: 2px solid black;
  padding: 20px 0;
  right: 10px;
}

#four svg{

  position: absolute;
  width: 400px;
  top: 170px;
}

.black1 {
    animation: scaleheight 4s ease-in-out infinite alternate;
}
.black2 {
    animation: scaleheight 7s ease-in-out infinite alternate;
}
.black3 {
    animation: scaleheight 5s ease-in-out infinite alternate;
}
.black4 {
    animation: scaleheight 4s ease-in-out infinite alternate;
}
.black5 {
    animation: scaleheight 3s ease-in-out infinite alternate;
}
.black6 {
    animation: scaleheight 6s ease-in-out infinite alternate;
}
.black7 {
    animation: scaleheight 5s ease-in-out infinite alternate;
}

@keyframes scaleheight {
    0% {
         fill:#000;
    }
    100% {
         fill:#cfcfcf;
         font-size: 300px;
    }
}

.preloader{
  position: fixed;
  left: 0;
  top: 0;
  width:100%;
  height: 100%;
  background: #fff;
  z-index:1;
}
.loader1, .loader{
  position: absolute;
  border: 5px solid transparent;
  border-radius: 50%;
}
.loader-frame{
  width: 70px;
  height: 70px;
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;

  margin: auto;
}

.loader1, .loader2{
  position: absolute;
  border: 7px solid transparent;
  border-radius: 50%;
}

.loader1{
  width: 75px;
  height: 75px;
  border-top: 7px solid #000;
  border-bottom: 7px solid #000;
  animation: clock 2s linear 3;

}
.loader2{
  width: 60px;
  height: 60px;
  border-left: 7px solid #858585;
  border-right: 7px solid #858585;
  top: 7px;
  left: 7px;
  animation: anticlock 2s linear 3;
}
@keyframes clock {
  from{transform: rotate(0deg);}
  to{transform: rotate(360deg);}
}
@keyframes anticlock {
  from{transform: rotate(0deg);}
  to{transform: rotate(-360deg);}
}
@keyframes fadeout {
  from{opacity: 1}
  to{opacity: 0;}
}

.fullpage4{
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.item {
  text-align: right;
  padding: 20px;
  color: #000;
  font-size: 1.2em;
  margin: 25% auto;
}
/*.fullpage4 img{
  display: block;
  margin: auto;
  left: 30px;
}*/
.head{
  padding-top: 60px;
  font-size: 3em;
  text-align: center;

}

.responsive {
    max-width: 80%;
    height: auto;
}
.responsive1 {
    max-width: 100%;
    height: 99vh;
}
h2{
  font-weight: bold;
  font-size: 2em;
}
.wrapper img{
  display: block;
  margin: 0 auto;
}
#lottie{
    background-color:#fff;
    width:90%;
    height:90%;
    display:block;
    margin: 0px auto;
    overflow: hidden;
    transform: translate3d(0,0,0);
    text-align: center;
    opacity: 1;
}
.textrev{
  padding-left: 10px;
  padding-right: 20px;
  padding-top: 100px;
}
button{

  width: 140px;
  height: 50px;
  background-color: #712a41;
  font-size: 1.1em;
  color: #fff;
  border: none;
  font-family: "Oswald";
  margin-top: 40px;

}
button:hover{
  background-color: #60b049;
}
button a{
  color: #fff;
  text-decoration: none;
}
/* The Overlay (background) */
.overlay {
    /* Height & width depends on how you want to reveal the overlay (see JS below) */
    height: 100%;
    width: 0;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    background-color: rgb(0,0,0); /* Black fallback color */
    background-color: rgba(0,0,0, 0.95); /* Black w/opacity */

    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

/* Position the content inside the overlay */
.overlay-content {
    position: relative;
    display: block;
    margin: 0;
    bottom: 0;
    left: 0;
    right: 0;
    top: 25vh; /* 25% from the top */
    width: 100%; /* 100% width */
    text-align: center; /* Centered text/links */
    margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
}

/* The navigation links inside the overlay */
.overlay a {
    padding: 15px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block; /* Display block instead of inline */
    transition: 0.3s; /* Transition effects on hover (color) */
}

/* When you mouse over the navigation links, change their color */
.overlay a:hover, .overlay a:focus {
    color: #84d8f4;
    padding-right: 200px;
}

/* Position the close button (top right corner) */
.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
    cursor: pointer;

}
.overlay img{
  width: 40px;
  height: 40px;
}
/* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
@media screen and (max-height: 450px) {
    .overlay a {font-size: 20px}
    .overlay .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}
